
html {
    scroll-behavior: smooth;
  }

img {
width: 300px;
height: 300px;
}

.nave-container {
 display: flex;
 justify-content: space-around;
 background-color: #1f2937;
 font-size: 18px;
 color: e5e7eb;
}

.nave-container .nave-logo {
    width: 5%;
    height: 5%
}
    
.header-container {
    display: flex;
    justify-content: space-evenly;
    background-color: #1f2937;
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb
}

#hero-button {
    background-color: #3882f6;
}

#ramdom-info {
    text-align: center;
    margin: 2vw;
    margin-left: 20vw;
    margin-right: 20vw;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}


.galery-container {
    display: flex;
    justify-content: space-evenly;
    
}

.galery-element {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 20vw;
    height: 30vh;
}

.galery-element img {
    width: 20vw;
    height: 30vh;
}

#poema {
    display: flex;
    background-color: #e5e7eb;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
}

#newsletter {
    display: flex;
    justify-content: flex-end;
    padding: auto;
}

footer {
    background-color: #1f2937;
    color: antiquewhite;
    text-align: center;
    font-size:large;
}

